/*
 NOTE: Styles adapted from https://github.com/harshhhdev/kmenu/blob/master/src/styles/index.css
       We've had to create a rule prefix (.command-palette) to wrap all the style definitions for isolation
 */
.command-palette .backdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  user-select: none;
  @apply !bg-modal-bg-overlay;
  @apply !bg-opacity-overlay;
}

.command-palette .dialog {
  padding: 0.5rem;
  transition: 0.1s ease 0s;
  will-change: height;
  top: auto;
  @apply flex flex-col;
  @apply !bg-modal-bg-primary;
  @apply h-[37.5rem] w-[40rem];
  @apply rounded-modal shadow-default;
}

.command-palette .crumbs {
  display: flex;
  margin: 5px 0px 0px 5px;
}

.command-palette .breadcrumb {
  border: none;
  outline: none;
  padding: 5px 10px;
  margin-right: 7px;
  cursor: pointer;
}

.command-palette .searchbar {
  border: none;
  padding: 20px 10px;
  margin: 0 0 8px;
  background-color: transparent;
  font-size: 18px;
  width: 100%;
  outline: 0;
  font-family: inherit;
  @apply placeholder:text-modal-txt-placeholder;
  @apply border-b border-b-modal-border;
}

/** Hide the searchbar if the placeholder is empty **/
.command-palette .searchbar[placeholder=' '] {
  display: none;
}
.command-palette .searchbar[placeholder=' '] + div.command_wrapper {
  margin-top: 5px !important;
}

.command-palette .command_wrapper {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  @apply !h-full gap-6 p-4;
}

/* Category container */
.command-palette .command_wrapper > div {
  @apply flex flex-col items-stretch;
  @apply gap-2 text-modal-txt-secondary;
}

.command-palette .command {
  @apply flex items-stretch;
  @apply text-lg no-underline;
  @apply relative;

  transition: 0.1s linear;
}

.command-palette .info_wrapper {
  @apply flex items-center gap-2 p-1;
  @apply text-btn-txt-modal-item-default;
}

.command-palette .info_wrapper > svg {
  @apply h-6 w-6;
  @apply fill-btn-ico-modal-item-default;
}

.command-palette .category_header {
  @apply text-sm/6 font-bold;
  @apply uppercase;
}

.command-palette .selected {
  @apply absolute h-full w-full;
  @apply rounded-default bg-btn-bg-modal-item-hover;
}

.command-palette .selected + .info_wrapper {
  @apply text-btn-txt-modal-item-active;
}

.command-palette .selected + .info_wrapper > svg {
  @apply fill-btn-ico-modal-item-active;
}
