.icon {
  @apply flex h-10 w-10 content-center justify-center gap-2 rounded;
}

.icon:hover {
  background-color: #eff1f4;
}

.icon:hover path {
  fill: #54595f;
}

.icon.active {
  background-color: #eff1f4;
}

.icon.active path {
  fill: #54595f;
}
