.side-bar {
  @apply flex select-none flex-col;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.04);
}

.side-bar .icon {
  @apply flex h-10 w-10 content-center justify-center gap-2 rounded;
  color: hsl(var(--color-icon));
}

.side-bar .icon:hover,
.side-bar .icon.active {
  @apply bg-icon-background-active;
  color: hsl(var(--color-icon-active));
}
