.editor-container {
    border-radius: 10px;
    border: solid 1px #ECECEC;
    height: 50vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.editor-container .editor-inner .editor-input {
    padding: 0 10px;
    height: 100%;
}
.editor-container .editor-inner .editor-input:focus {
    outline: none;
}

