.draggable-item > .drag-handle {
  /* @apply invisible; */
  @apply flex flex-shrink-0 flex-grow-0;
  @apply absolute -left-4 top-3 mr-1 h-4 w-4;
  @apply cursor-grab;
  @apply bg-contain bg-center bg-no-repeat;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16"><path fill-opacity="0.2" d="M4 14c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM2 6C.9 6 0 6.9 0 8s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" /></svg>');
  @apply invisible;
}

.draggable-item:hover:not(:has(.draggable-item:hover)) > .drag-handle {
  @apply visible;
}

.collapsible-block {
  /* @apply debug; */
  @apply my-2 flex rounded-lg p-2 pl-0;
  /* @apply border border-gray-300;  */
  @apply relative;
}

.collapsible-block > button {
  @apply flex cursor-pointer border-0 bg-transparent p-0;
}

.collapsible-block > button:before {
  content: '\25bc';
  @apply flex h-6 w-6 items-center justify-center;
}

.collapsible-block > button.folded:before {
  content: '\25b6';
}

.collapsible-block:not(:has(collapsible-content)) > button:before {
  @apply opacity-50;
}

.collapsible-block .content {
  @apply flex-auto;
}

collapsible-summary * {
  @apply m-0;
}

.collapsible-block .folded collapsible-content {
  @apply hidden;
}
