body {
  --contexify-menu-bgColor: #f1f5f9;
  --contexify-item-color: #000000;
  --contexify-activeItem-color: #000000;
  --contexify-activeItem-bgColor: #e2e8f0;
}

.contextMenu {
  @apply min-w-min p-1;
}

.contextMenu .contexify_itemContent {
  @apply px-2 py-0.5;
}
