body {
  --contexify-menu-bgColor: #f1f5f9;
  --contexify-item-color: #000000;
  --contexify-activeItem-color: #000000;
  --contexify-activeItem-bgColor: #e2e8f0;
}

/* This is the class name defined by react-contexify */
.contexify {
  @apply z-modals min-w-min p-0;
}

.contexify_itemContent {
  @apply p-3;
}
