@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
    --color-primary: 151deg 54% 69%;
    --color-primary-hover: 152deg 54% 48%;
    --color-secondary: 193deg 37% 69%;
    --color-secondary-hover: 193deg 37% 48%;
    --color-muted: 218deg 11% 65%;
    --color-error: 0deg 84% 60%;
    --grayscale-0: 0deg 0% 100%;
    --grayscale-10: 220deg 33% 98%;
    --grayscale-20: 216deg 19% 95%;
    --grayscale-30: 217deg 15% 90%;
    --grayscale-60: 0deg 0% 53%;
    --grayscale-70: 213deg 6% 35%;
    --grayscale-90: 90deg 2% 21%;
    --grayscale-100: 0deg 0% 12%;
    --primary-60: 213deg 44% 25%;
    --primary-70: 213deg 45% 21%;
  }
}

@layer components {
  .btn-primary {
    @apply cursor-pointer rounded-xl bg-primary;
    @apply px-4 py-0.5;
    @apply hover:bg-primary-hover hover:text-white;
  }
  .btn-primary[disabled] {
    @apply pointer-events-none opacity-50;
  }

  /* Displays a box (top right) with a debug note */
  .debug-widget {
    @apply relative before:absolute before:right-4 before:top-4 before:hidden before:bg-yellow-100 before:p-2 hover:before:block hover:before:content-['Just_for_Debug!'];
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

a {
  @apply cursor-pointer text-blue-500 underline hover:no-underline;
}

body {
  /* This overflow setting prevents the app to display that extra content on scroll (like pull to refresh) */
  @apply h-full w-full overflow-hidden;
  font-family: 'Roboto', sans-serif;
}

/* Make root full-height */
body > div#root {
  height: 100vh;
}

.x-hide-scrollbars::-webkit-scrollbar,
[data-overflow-viewport]::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background-color: transparent;
}
