@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
    --grayscale-00: 255 255 255;
    --grayscale-10: 249 250 252;
    --grayscale-20: 239 241 244;
    --grayscale-30: 226 230 238;
    --grayscale-40: 219 223 231;
    --grayscale-50: 209 215 225;
    --grayscale-60: 136 136 136;
    --grayscale-70: 84 89 95;
    --grayscale-80: 53 54 52;
    --grayscale-90: 30 30 30;
    --primary-10: 220 234 250;
    --primary-50: 36 62 93;
    --primary-90: 29 51 77;
    --semantic-error-10: 255 232 230;
    --semantic-error-50: 219 40 40;
    --semantic-warning-10: 255 248 219;
    --semantic-warning-50: 181 129 5;
    --semantic-success-10: 229 249 231;
    --semantic-success-50: 30 188 48;
    --semantic-info-10: 225 247 247;
    --semantic-info-50: 17 155 173;
  }
}

@layer components {
  /* Displays a box (top right) with a debug note */
  .debug-widget {
    @apply relative before:absolute before:right-4 before:top-4 before:hidden before:bg-yellow-100 before:p-2 hover:before:block hover:before:content-['Just_for_Debug!'];
  }
}

h1 {
  @apply text-sm/6 font-bold;
  @apply uppercase;
}

h2 {
  @apply font-semibold;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

a {
  @apply cursor-pointer text-blue-500 underline hover:no-underline;
}

body {
  /* This overflow setting prevents the app to display that extra content on scroll (like pull to refresh) */
  @apply h-full w-full overflow-hidden;
  @apply font-default;
  @apply text-base font-normal;
}

/* Make root full-height */
body > div#root {
  height: 100vh;
}

.x-hide-scrollbars::-webkit-scrollbar,
[data-overflow-viewport]::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background-color: transparent;
}
