@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
    --color-primary: 151deg 54% 69%;
    --color-primary-hover: 152deg 54% 48%;
    --color-secondary: 193deg 37% 69%;
    --color-secondary-hover: 193deg 37% 48%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
  @apply mb-4;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

a {
  @apply cursor-pointer text-blue-500 underline hover:no-underline;
}

p {
  @apply my-4;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Make root full-height */
body > div#root {
  height: 100vh;
}
